<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Nexora.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="dataBase" connectionString="Data Source=localhost;Initial Catalog=NexoraDB;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="NombreEmpresa" value="UTN Company." />
		<add key="URLPadron" value="https://api.hacienda.go.cr/fe/ae?identificacion=" />
		<add key="URLProvincia" value="https://raw.githubusercontent.com/lateraluz/Datos/refs/heads/master/provincias.json" />
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-33.1462.45.0" newVersion="33.1462.45.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Nexora.Properties.Settings>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Nombre" serializeAs="String">
        <value />
      </setting>
      <setting name="RolId" serializeAs="String">
        <value />
      </setting>
    </Nexora.Properties.Settings>
  </userSettings>
</configuration>